<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Mon Curriculum vitae</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link type="text/css" rel="stylesheet" href="../assets/css/cv.css" media="screen" />
      <link type="text/css" rel="stylesheet" href="../assets/css/cvpc.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="../assets/css/cvmob.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="../assets/css/normalize.css" media="all" />-->
    </head>
    
    <body>
        <header>INGENIEUR INFORMATIQUE</header>

        <div id="civil">

        
            <img src="../images/moi2.jpg"/>

            <h1>Mohamed KONE</h1>
            <p>Côte d'Ivoire - Abidjan</p>
            <p>09 46 42 66</p>
            <p>08 30 31 31</p>
            <p>72 58 94 88</p>
            <email>mohsati.kone@gmail.com</email>
        </div>

        <main>
            <section id="formation">
		<header>FORMATIONS / CERTIFICATS</header>
		<table>
                    <tbody>
			<tr>
                            <td>2019</td>
                            <th>GROUPE ECOLE DES HAUTES ETUDES COMMERCIALES -ABIDJAN (EDHEC)</th>
			</tr>
			<tr>
                            <td></td>
                            <td>Licence informatique Option Génie logiciel et Réseau Télécom</td>
			</tr>
			<tr>
                            <td>2017</td>
                            <th>CABINET GERASSUR</th>
			</tr>
			<tr>
                            <td></td>
                            <td>Certificat: Achat et gestion de stocks</td>
            </tr>
            <tr>
                            <td>2008 - 2009</td>
                            <th>INSTITUT DE FORMATION SAINTE MARIE</th>
            </tr>
            <tr>
                            <td></td>
                            <td>Brevet de Technicien Supérieur Option Informatique de Gestion</td>
            </tr>
            <tr>
                            <td>2006 - 2007</td>
                            <th>COLLEGE MONTERLANT</th>
            </tr>
            <tr>
                            <td></td>
                            <td>Baccalauréat serie D</td>
            </tr>

                    </tbody>
                </table>
            </section>
            <section id="expe">
		<header>EXPERIENCES PROFESSIONNELLES</header>

		<h1>
                    <span>Janvier à Juin 2019</span><span>Administrateur de site web : <em>Clinique Procréa</em></span>
                    <img src="images/TriangleP2.png"  width="14" height="14" alt="triangle pour détailler" />
                </h1>
		<ul>
            <li>Rédiger les lignes de code nécessaire à la création des produits Web</li>
            <li>Corriger et optimiser les fonctionnalités du site web</li>
            <li>Assurer les tests et recettes des applicatifs </li>
            <li>Assurer la maintenance du site web</li>
            <li>Assurer les relations avec l’hébergeur du site web</li>
            <li>Développer le site web et assurer son actualisation</li>
            <li>Favoriser la prospection (Mailing, Phoning)</li>
            <li>Concevoir les pages web</li>
            <li>Participer à l’élaboration des cahiers de charge</li>
            <li>Gérer les incidents de premier niveau dans l’exploitation du site web</li>
            <li>Participer aux choix des sous-traitants</li>
            <li>Coordonner et participer aux réponses des contenues des mails reçus et d’en assurer le suivi</li>
            <li>Réaliser l’intégration technique et graphique des contenus éditoriaux</li>
            <li>Assurer la rédaction des newsletters</li>
            <li>Assurer la gestion de la FAQ</li>
            <li>Assurer l’animation des communautés (Facebook, Twitter…)</li>
            <li>Assurer la gestion des stocks des équipements informatiques</li>
		</ul>
		<h1>
                    <span>2017 à 2019</span><span>Analyste informatique : <em>Clinique Procréa</em></span>
                    <img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" />
                </h1>
		<ul>
            <li>Analyser les demandes des utilisateurs et poser des questions filtrées afin d’identifier les données d’utilisation et de fonctionnement</li>
            <li>Poser les diagnostiques sur les pannes</li>
            <li>Intervenir et procéder aux réparations des pannes</li>
            <li>Assurer la mise en service et l’installation du nouveau matériel informatique</li>
            <li>Implémenter les logiciels</li>
            <li>Réaliser les archivages et les sauvegardes des données</li>
            <li>Assurer l’achat du matériel informatique</li>
            <li>Former les utilisateurs à l’utilisation des ressources informatiques</li>
            <li>Assurer une veille technologique sur les évolutions du secteur d’activité de l’entreprise en matière de système d’information et de matériel informatique</li>
            <li>S’assurer du bon fonctionnement du système d’information de la clinique et maintenir en condition opérationnelles les équipements du système d’information</li>
            <li>Garantir la continuité du service informatique et télécom au sein de la clinique</li>
            <li>Assurer la sécurité du système d’information</li>
		</ul>
		<h1>
                    <span>2015 à 2017</span><span>Agent des moyens généraux en charge de la gestion du SI</span>
                    <img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" />
                </h1>
		<ul>
            <li>Analyser les demandes des utilisateurs et poser des questions filtrées afin d’identifier les données d’utilisation et de fonctionnement</li>
            <li>Poser les diagnostiques sur les pannes</li>
            <li>Intervenir et procéder aux réparations des pannes</li>
            <li>Assurer la mise en service et l’installation du nouveau matériel informatique</li>
            <li>Implémenter les logiciels</li>
            <li>Réaliser les archivages et les sauvegardes des données</li>
            <li>Assurer l’achat du matériel informatique</li>
            <li>Former les utilisateurs à l’utilisation des ressources informatiques</li>
            <li>Assurer une veille technologique sur les évolutions du secteur d’activité de l’entreprise en matière de système d’information et de matériel informatique</li>
            <li>S’assurer du bon fonctionnement du système d’information de la clinique et maintenir en condition opérationnelles les équipements du système d’information</li>
            <li>Garantir la continuité du service informatique et télécom au sein de la clinique</li>
            <li>Assurer la sécurité du système d’information</li>
		</ul>
            </section> <!-- fin expe -->
        </main>
        
        <aside id="divers">
            <h2>ETAT CIVIL<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
            <ul>
		<li>32 ans</li>
		<li>Nationalité Ivoirienne</li>
		<li>Permis toutes catégories</li>
            </ul>
            <h2>INFORMATIQUE<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
            <ul>
		<li>Base de données (SQL - ACCESS)</li>
		<li>Algorithme</li>
        <li>Analyse Mérise</li>
        <li>Windev</li>
        <li>HTML5/CSS</li>
        <li>Wordpress</li>
        <li>Windows server</li>
        <li>Google Adwords</li>
        <li>Administration Bluehost</li>

            </ul>
            <h2>SPORTS<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
            <ul>
		<li>Football</li>
        <li>Natation</li>
        <li>Tennis</li>
        <li>Rugby</li>
            </ul>
            <h2>LOISIRS<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
            <ul>
		<li>Sortie balnéaire</li>
        <li>Cinéma</li>
        <li>Voyages</li>
            </ul>
            <h2>LANGUES<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
            <ul>
		<li>Français</li>
		<li>Anglais</li>
            </ul>
            <h2>CONTACTEZ-MOI<img src="images/TriangleP2.png" width="14" height="14" alt="triangle pour détailler" /></h2>
                  <div class="input-group">
                    <input class="input-group-field" type="text" placeholder="Nom">
                    <input class="input-group-field" type="email" placeholder="E-mail">
                    <textarea placeholder="Message"></textarea>
                  </div>
                  <a class="button expanded" href="#" color="white" mailto="mohsati.kone@gmail.com">Envoyez</a>
                </div>
        </aside>
    </body>
</html>